.authocont {
  background-color: rgba(228, 15, 15, 0) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  
}
.loginmain {
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 984px;

  min-height: 594px;
  width: 100%;
  flex-direction: column;
  vertical-align: middle;
  
}
.sign {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px !important;  
  color: #000;
  margin-bottom: 20px !important;
}
.butlog{
  font-size: 20px !important;
  font-weight: 500 !important;
}
.team{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.card{
  margin: 5px;
}